// Styleguide Typography

// 1. Specificity hack
.h--mega.h--mega { // [1]
    line-height: 1;
    font-size: 5em;
}

.color {
    font-family: monospace;
    font-size: 2em;
    font-weight: 700;
}

// stylelint-disable font-family-no-duplicate-names
// Double font-family needed to display monospace properly in some Android
// browsers
code,
pre {
    font-family: 'Source Code Pro', monospace, monospace;
}
// stylelint-enable font-family-no-duplicate-names
