// Base.Generic.Forms

form {
    @include trim;
}

label,
select {
    cursor: pointer;
}

textarea {
    resize: vertical;
}

.TextArea--IsLocked {
    resize: none;
}

.Input--HasPlaceholder {
    color: color(gray-medium);
}
