// Form.Input

///
/// Example html:
///
/// <div class="Input Input--Inline">
///   <input class="Input__Field">
///   <span class="Input__Postfix">cm</span>
/// </div>
///

.Input--Inline {
    display: flex;
    margin-bottom: halve($base-spacing-unit);
    border: 1px solid color(gray-light);
    border-radius: radius(small);
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.Input--HasError {
    border-color: color(red);
}

.Input--HasSuccess {
    border-color: color(green);
}

.Input__Field,
.Input__Postfix,
.Input__Prefix {
    display: inline-block;
    border: none;
    vertical-align: middle;
}

.Input__Field {
    margin-bottom: 0;
}

.Input__Postfix,
.Input__Prefix {
    padding: 6px 0.5em;
    background-color: color(gray-lighter);
    text-align: center;
}

.Input__Prefix {
    flex-basis: 7em;
    border-right: 1px solid color(gray-light);
}
