// Form.Input

///
/// Example html:
///
/// <div class="Input Input--Inline">
///   <input class="Input__Field">
///   <span class="Input__Postfix">cm</span>
/// </div>
///

.Input--Inline {
    display: inline-flex;
    margin-bottom: halve($base-spacing-unit);
    width: 100%;

    .Input__Field {
        border: 1px solid color(gray-light);
        border-radius: radius(small);

        &:not(:first-child) {
            border-left: 0;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        &:not(:last-child) {
            border-right: 0;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
}

.Input--HasError {
    border-color: color(red);
}

.Input--HasSuccess {
    border-color: color(green);
}

.Input__Field,
.Input__Postfix,
.Input__Prefix {
    display: inline-block;
    border: none;
    vertical-align: middle;
}

.Input__Field {
    margin-bottom: 0;
}

.Input__Postfix,
.Input__Prefix {
    padding: 6px 0.5em;
    background-color: color(gray-lighter);
    text-align: center;
}

.Input__Prefix {
    border: 1px solid color(gray-light);
    border-top-left-radius: radius(small);
    border-bottom-left-radius: radius(small);
    min-width: 4em;
}

.Input__Postfix {
    border: 1px solid color(gray-light);
    border-top-right-radius: radius(small);
    border-bottom-right-radius: radius(small);
}
