// UI.Global.TextHelpers

// Text colors
.text-orange        { color: color(orange); }
.text-green         { color: color(green); }
.text-green-shade   { color: color(green-shade); }
.text-red           { color: color(red); }
.text-blue          { color: color(blue); }
.text-black         { color: color(black); }
.text-gray-medium   { color: color(gray-medium); }
.text-gray-darkest  { color: color(gray-darkest); }

.text-black-medium-down {
    @include breakpoint(medium, 'max-width') {
        color: color(black);
    }
}

.text-dimmed {
    &,
    & a {
        color: color(gray-dark);
    }
}

// Text used as intro for sections
.text-lead {
    line-height: 1.2;
    color: color(gray-darker);
    font-family: map-get($brand-face, family);
    font-size: font-size(h3);
    font-weight: map-get($brand-face, weight);
    font-style: map-get($brand-face, style);
}

.text-capitalize {
    text-transform: uppercase;
}

.text-undecorated {
    text-decoration: none;
}

.text-bold {
    font-weight: 700;
}

.text-bold-medium-down {
    @include breakpoint(medium, 'max-width') {
        font-weight: 700;
    }
}
