// UI.Global.TextHelpers

// Text colors
.text-orange { color: color(orange); }
.text-green  { color: color(green); }
.text-red    { color: color(red); }
.text-blue   { color: color(blue); }

.text-dimmed {
    &,
    & a {
        color: color(gray-dark);
    }
}

// Text used as intro for sections
.text-lead {
    line-height: 1.2;
    color: color(gray-darker);
    font-family: map-get($brand-face, family);
    font-size: font-size(h3);
    font-weight: map-get($brand-face, weight);
    font-style: map-get($brand-face, style);
}
