// Printdeal-FR-Responsive

$base-max-site-width: 79em;

$product-nav-width: 18em;
$product-nav-toggler-width: 4em;

$z-indexes: (
    chuck-norris:       2147483647,

    loader:             72,
    modal:              71,
    modal-backdrop:     70,

    review:             60,

    sticky-share:       50,

    sitenav-item-small: 43,
    site-subnav-small:  42,
    sitenav-item-large: 41,
    site-subnav-large:  40,

    search-form:        32,
    search-results:     31,
    search-backdrop:    30,

    productnav:         20,

    slider-nav:         13,
    slider-action:      12,
    slider-active:      11,
    slider-preload:     10,

    default:            1,
    below:              -1
) !default;

$tweakpoints: (
    'blog': 44em,
    'sitenav': 47.5em,
    'productnav': 66em,
    'pagewrap': $base-max-site-width + 1.5em,
    'slider-nav': 70em,
    'large-screen': 124em
) !default;
