// Printdeal-FR-Responsive

$base-max-site-width: 79em;

$product-nav-width: 18em;
$product-nav-toggler-width: 4em;

$z-indexes: (
    chuck-norris:       2147483647,

    loader:             82,
    modal:              81,
    modal-backdrop:     80,

    review:             70,

    sticky-share:       60,

    sitenav-item-small: 51,
    site-subnav-small:  50,

    search-form:        42,
    search-results:     41,
    search-backdrop:    40,

    sitenav-item-large: 31,
    site-subnav-large:  30,

    productnav:         20,

    slider-nav:         13,
    slider-action:      12,
    slider-active:      11,
    slider-preload:     10,
    slider:             9,

    siteheader:         12,

    // z-indexes within siteheader
    contentnav_open:    6,
    customernav:        5,
    contentnav:         3,
    servicenav:         2,
    productsearch:      2,
    // end z-indexes within siteheader

    above:              2,
    default:            1,
    below:              -1
) !default;

$tweakpoints: (
    'blog': 44em,
    'sitenav': 47.5em,
    'productnav': 66em,
    'pagewrap': $base-max-site-width + 1.5em,
    'slider-nav': 70em,
    'large-screen': 124em
) !default;
