.List--Inline {
    li {
        display: inline;
    }
}

.List--Comma {
    li + li {
        &::before {
            content: ',';
            margin-right: 0.33em;
            margin-left: -0.22em;
        }
    }
}

.List--Comma--FirstIsColon {
    li:first-child + li {
        &::before {
            content: ':';
        }
    }
}
