@keyframes animation-bounce-in-up {
    0% {
        transform: translate3d(0, 3000px, 0);
        opacity: 0;
    }

    60% {
        transform: translate3d(0, -20px, 0);
        opacity: 1;
    }

    75% {
        transform: translate3d(0, 10px, 0);
    }

    90% {
        transform: translate3d(0, -5px, 0);
    }

    100% {
        transform: translate3d(0, 0, 0);
    }
}

.Animation--BounceInUp {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: animation-bounce-in-up;
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

@keyframes animation-slide-mobile-menu-from-left {
    0% {
        left: -18em;
    }

    100% {
        left: 0;
    }
}

.Animation--MobileMenuLeft {
    @include breakpoint(medium) {
        animation-duration: 1s;
        animation-fill-mode: both;
        animation-name: animation-slide-mobile-menu-from-left;
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
}
