// Alert
//
// Usage:
// <div class="Alert [modifier]">
//   <div class="Alert__Icon">
//     <i class="Icon"></i>
//   </div>
//   <div class="Alert__Body">...</div>
// </div>

$alert-inner-spacing: quarter($base-spacing-unit);

.Alert {
    @extend %flag;
    background-color: color(yellow);
    color: color(gray-darkest);
}

.Alert__Icon,
.Alert__Body {
    vertical-align: top;
}

.Alert__Icon {
    @extend %flag-img;
    padding: $alert-inner-spacing;
    background-color: color(yellow-shade);
}

.Alert__Body {
    @extend %flag-body;
    @include trim;
    padding: $alert-inner-spacing double($alert-inner-spacing);
}

.Alert--Info {
    background-color: color(blue-shade);
    color: color(white);

    .Alert__Icon {
        background-color: color(blue-dark);
    }
}
