// BADGE
//
// Used primarily in lists to indicate the category of a given list item, or
// to show that an item has a discount or is recommended by our product
// experts.
//
// Usage:
//   <span class="Badge">Category</span>
//
// Notes:
// * Not for use with inline text. Use Label for that.

// 1. Em-based padding to scale the element with font-size
.Badge {
    padding: 0.3em 0.7em; // [1]
    background-color: color(white);
    box-shadow: $shadow-near;
    color: color(gray-darker);

    // Badges will mostly be used inside Matrix. Therefore give it some
    // specific styling for that object only.
    .HasBadge &,
    .Matrix__Item & {
        position: absolute;
        top: $base-spacing-unit;
        left: $base-spacing-unit;
    }
}

.HasBadge {
    position: relative;
}

// Types of Badges:

.Badge--HasDiscount {
    background-color: color(yellow);
    color: color(gray-darkest);
}

.Badge--IsRecommended {
    background-color: color(blue);
    color: color(white);
}
