// UI.Object.Balloon
//
// 1. Reset;
// 2. Stack balloon content higher than balloon-tip;
// 3. Put each element on it's own line;
// 4. Finetune positions;

$balloon-bg: color(yellow);
$balloon-border-color: color(yellow-shade);
$balloon-tip-size: third($base-spacing-unit);
$balloon-tip-ratio: 1.75;
$balloon-border-width: 1px;

.Balloon {
    @include rounded;
    @include trim;
    display: inline-block;
    border-width: $balloon-border-width $balloon-border-width triple($balloon-border-width);
    border-style: solid;
    border-color: $balloon-border-color;
    padding: 0.5em 1em;
    background-color: $balloon-bg;
    text-align: center;
    text-decoration: none;
    line-height: 1;
    color: color(black);
    font-size: font-size(balloon);
    font-weight: 700;

    > * {
        display: block; // [3]
        position: relative; // [2]
        margin-bottom: halve(quarter($base-spacing-unit));
    }

    small {
        font-weight: 400;
    }


    // Price is a very common object in a Balloon, so that's why it's here
    // explicitly.
    .Price {
        font-size: font-size(large);
    }
}

// Balloon with an arrow-like pointing tip, like a speech balloon.
.Balloon--HasTip {
    position: relative;

    &::before,
    &::after {
        @extend %overlay;
        @extend %overlay-beneath;
        content: '';
        left: halve($base-spacing-unit);
        border-style: solid;
    }


    // Acts as the balloon-tip border: is a slightly larger triangle than the actual
    // tip in the balloon-border-color and is placed behind it.
    &::before {
        margin-left: -2px; // [4]
        border-width: ($balloon-tip-size + $balloon-border-width) (($balloon-tip-size * $balloon-tip-ratio) + double($balloon-border-width)); // [4]
        border-color: $balloon-border-color transparent transparent $balloon-border-color;
    }


    // The actual balloon-tip
    &::after {
        border-width: $balloon-tip-size ($balloon-tip-size * $balloon-tip-ratio);
        border-color: $balloon-bg transparent transparent $balloon-bg;
    }
}
