// Card
//
// Support:
//  IE 11+
//
// Usage:
// <a class="Card" href="...">
//   <div class="Card__Title h h4">...</div>
//   <p class="Card__Description">...</p>
//   <img class="Card__Cover" src="..." alt="" width="350" height="150">
//   <div class="Card__Cta">...</div>
// </a>
//
// Or: Card with image centered:
// <a class="Card" href="...">
//   <div class="Card__Title h h4">...</div>
//   <p class="Card__Description">...</p>
//   <div><img class="Card__Center" src="..." alt="" width="150" height="143"></div>
//   <div class="Card__Cta">...</div>
// </a>

$card-inner-spacing: halve($base-spacing-unit);

.Card {
    display: flex;
    flex-flow: column nowrap;
    border: 1px solid color(gray-light);
    padding: $card-inner-spacing 0;
    text-decoration: none;

    &:hover,
    &:focus {
        border-color: inherit;
        color: color(blue);
    }

    > :not(.Card__Cover) {
        margin-right: $card-inner-spacing;
        margin-left: $card-inner-spacing;
    }

    > :not(:last-child) {
        margin-bottom: $card-inner-spacing;
    }
}

// 1. Show image before/on top of other elements
// 2. Undo padding of .Card
// 3. Keep aspect ratio of image intact
.Card__Cover {
    order: -1; // [1]
    margin-top: negative($card-inner-spacing); // [2]
    margin-bottom: double($card-inner-spacing);
    width: 100%;
    height: auto; // [3]
}

.Card__Description {
    color: color(gray-dark);
}

// 1. Makes it align to the bottom unlike the other elements (https://wpbeaches.com/aligning-last-item-bottom-container-flexbox/)
.Card__Cta {
    margin-top: auto; // [1]
    text-align: right;
    color: color(blue);

    .Icon {
        vertical-align: -0.2em;
        transition: transform $base-animation-duration $base-animation-function;
    }

    .Card:hover & .Icon {
        transform: translateX(halve($card-inner-spacing));
    }
}

// 1. Show image at the center of the card
// 2. Show image before/on top of other elements
.Card__Center {
    display: block; // [1]
    order: -1; // [2]
    margin: 0 auto;
}
