// Base.Functions.Math
//
// @link https://github.com/inuitcss/tools.functions/blob/master/_tools.functions.scss

@function quarter($number) {
    @return $number / 4;
}

@function third($number) {
    @return $number / 3;
}

@function halve($number) {
    @return $number / 2;
}

@function double($number) {
    @return $number * 2;
}

@function triple($number) {
    @return $number * 3;
}

@function quadruple($number) {
    @return $number * 4;
}

@function negative($number) {
    @return $number * -1;
}
