.AccountNav {
    display: inline-block;

    // show-for-medium-up cannot be used to hide this sitesubnav because doing causes a hover-delay on desktop
    @include breakpoint(medium, 'max-width') {
        .SiteSubNav {
            display: none;
        }
    }
}

.AccountNav__Link {
    padding: 0 $base-spacing-unit;

    @include breakpoint(medium) {
        height: 79px;
    }
}

.AccountNav__Icon,
.AccountNav__Text {
    line-height: 3.3;

    @include breakpoint(medium) {
        line-height: 5.93;
    }
}

.AccountNav__OrderStatus {
    position: absolute;
    top: -0.45em;
    right: 0.15em;
}
