.AccountNav {
    display: inline-block;
}

.AccountNav__Link {
    padding: 0 $base-spacing-unit;
    font-size: font-size(button);

    @include breakpoint(medium) {
        height: 79px;
    }
}

.AccountNav__Icon,
.AccountNav__Text {
    line-height: 3.3;

    @include breakpoint(medium) {
        line-height: 5.93;
    }
}

.AccountNav__OrderStatus {
    position: absolute;
    top: -0.45em;
    right: 0.15em;
}
