@include breakpoint(medium, 'max-width') {
    .ContentNav {
        position: absolute;
        top: 3.25em;
        left: 0;
        z-index: z(contentnav);
        width: 6em;
    }

    // stylelint-disable max-nesting-depth
    .Expand__ContentNav {
        .ContentNav {
            z-index: z(contentnav_open);
        }

        .MobileMenu__Backdrop {
            display: block;
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: z(below);
            background-color: $modal-backdrop-color;
        }
    }

    .ContentNav__Toggle--on--small {
        line-height: 2.7;
        font-size: font-size('h2');
    }

    .ContentNav__Close {
        display: block;
    }

    .ContentNav__List {
        display: none;
        padding: 1em;
        width: 18em;
        background-color: color(white);
        line-height: 2.5;

        .Expand__ContentNav & {
            display: block;
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            border-right: 1px solid color(gray-light);
            overflow-y: scroll;
        }

        .SiteNav__Item + .SiteNav__Item {
            margin-top: $base-spacing-unit;
        }

        .IconList__Item::before {
            margin-top: 0.75em;
        }
    }
}

.LanguageNav__Item {
    display: inline-block;
}

.LanguageNav__Link {
    display: inline-block;
    padding-right: third($base-spacing-unit);
    padding-left: third($base-spacing-unit);
}

@include breakpoint(medium, 'max-width') {
    .LanguageNav__Link {
        margin-right: halve($base-spacing-unit);
        border-width: 1px 1px 3px;
        border-style: solid;
        border-color: transparent;
    }

    .LanguageNav__ActiveLink {
        border-color: color(gray-light) color(gray-light) color(green);
    }
}

@include breakpoint(medium) {
    .LanguageNav {
        position: absolute;
        top: -1.9em;
        right: 0;
    }

    .ServiceNav {
        position: absolute;
        right: 19.5em;
        bottom: -1px;

        .SiteNav__Link {
            line-height: 3.65;
        }
    }

    .TestNav {
        position: absolute;
        top: 0;
        right: 17em;
    }

    .TestNav__Link {
        line-height: 4;
    }

    .QuickLink--1 {
        position: absolute;
        bottom: 0;
        left: 18em;
    }

    .QuickLink--2 {
        position: absolute;
        bottom: 0;
        left: 30em;
    }

    .QuickLink__Link {
        display: inline-block;
        padding-right: $base-spacing-unit;
        padding-left: $base-spacing-unit;
        line-height: 3.65;
    }

    .TeamNav {
        position: absolute;
        right: 0;
        bottom: 0;
        max-width: 19em;
        height: 3.6em;
        overflow: hidden;
        line-height: 3.3;
    }

    .TeamNav__Image {
        margin-right: $base-spacing-unit;
        width: auto;
        height: 100%;
    }
}

@keyframes animation-slide-mobile-menu-from-left {
    0% {
        left: -18em;
    }

    100% {
        left: 0;
    }
}

.Animation--MobileMenu {
    @include breakpoint(medium, 'max-width') {
        animation-duration: 0.2s;
        animation-fill-mode: both;
        animation-name: animation-slide-mobile-menu-from-left;
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
}
