.CustomerNav {
    display: inline-block;
    position: absolute;
    top: third($base-spacing-unit);
    right: 0;
    z-index: z(customernav);
    width: 8em;
    text-align: right;

    @include breakpoint(medium) {
        top: -1px;
        width: 21em;
    }

    @include breakpoint(medium, 'max-width') {
        .SiteSubNav {
            box-sizing: border-box;
            position: fixed;
            top: 0;
            bottom: 0;
            left: -18em;
            z-index: z(customernav_open);
            border-right: 1px solid color(gray-light);
            padding: 1em;
            width: 18em;
            overflow-y: scroll;
            background-color: color(white);
            line-height: 2.7;
            transition: all 0.2s ease-in-out;
        }

        .IsOpen > .SiteSubNav {
            left: 0;
        }
    }

    .IsOpen .MobileMenu__Backdrop {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: z(customernav_backdrop);
        background-color: $modal-backdrop-color;
    }
}
