.CustomerNav {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: z(customernav);
    width: 17em;
    text-align: right;

    @include breakpoint(medium) {
        top: -1px;
    }
}

.AccountNav {
    display: inline-block;
}

.AccountNav__Link {
    padding: 0 1em;
    line-height: 2.95;

    @include breakpoint(medium) {
        line-height: 4;
    }
}

.CartNav {
    display: inline-block;
}

.CartNav__Link {
    text-align: right;

    @include breakpoint(medium, 'max-width') {
        padding-top: 4px;
        padding-right: quarter($base-spacing-unit);
    }

    @include breakpoint(medium) {
        padding-left: quarter($base-spacing-unit);
        line-height: 4;

        .Btn {
            margin-top: 11px;
            margin-right: quarter($base-spacing-unit);
        }
    }
}

.CartNav__CartStatus {
    position: absolute;
    top: -0.5em;
    right: -0.5em;
    padding: 0.1em 0.2em;
    font-size: 0.75em;
}
