.EditorHeader {
    &.SiteHeader {
        padding-bottom: 0;
    }

    &::after {
        display: none;
    }

    .SiteLogo {
        display: block;
        top: 0;
        width: 14em;
        height: 47px;
    }
}

.SiteNav__ListItem {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    text-align: left;
    white-space: normal;
}

.SiteNav__Subtitle {
    font-size: font-size(small);
}
