// Page
//
// 1. Background-image edge offsets: http://briantree.se/quick-tip-06-use-four-value-syntax-properly-position-background-images/
// 2. Reset default body styling
// 3. Prevent extra image download from default styling
html {
    @include breakpoint(medium) {
        background: url('bg-pattern.png');
    }
}

body {
    padding: 0;
    overflow-x: hidden;

    &::before {
        content: none; // [2]
        background: none; // [3]
    }
}

p,
ol,
ul {
    margin-bottom: 0;
}

ol,
ul {
    margin-left: 0;
    list-style: none;
}

// 4. Prevent original img tags taking up full space while showing nothing
.no-js .resrc {
    display: none; // [4]
}
