.ProductSearch {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0.35em;
    left: 0;
    z-index: z(productsearch);

    @include breakpoint(medium, 'max-width') {
        padding-left: 8em;
    }

    @include breakpoint(medium) {
        top: halve($base-spacing-unit);
        right: 24.5em;
        bottom: auto;
        left: auto;
        width: 22em;
    }

    @include breakpoint(large) {
        width: 28em;
    }

    @include breakpoint(x-large) {
        width: 32em;
    }

    @include breakpoint(xx-large) {
        width: 34em;
    }
}

// 1. Only put higher z-index when open, otherwise ProductNav and SiteNav
//    will appear below the search
.ProductSearch--IsOpen {
    z-index: z(search-form); // [1]
}

.ProductSearch__Form {
    position: relative;
    box-shadow: $shadow-panel;

    .ProductSearch--IsOpen & {
        z-index: z(search-form); // [1]
    }
}

// 1. Let the item take up as much space as possible
// 2. Reset mobile styles
.ProductSearchResults {
    display: none;
    flex: 1 0 auto; // [1]
    border-top: 1px solid color(gray-light);
    padding-right: halve($base-spacing-unit);
    padding-left: halve($base-spacing-unit);
    background-color: color(gray-lighter);

    @include breakpoint(medium) {
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        // margin-top: 0;
        // margin-left: 0;
        border: solid color(gray-light);
        border-width: 0 1px 1px 1px;
        border-bottom-right-radius: radius(small);
        border-bottom-left-radius: radius(small);
        padding-right: 0; // [2]
        padding-left: 0; // [2]
        box-shadow: $shadow-drop;
    }
}

.ProductSearchResults--IsOpen {
    display: block;
    z-index: z(search-results);

    @include breakpoint(medium, 'max-width') {
        position: absolute;
        top: 100%;
        right: negative(halve($base-spacing-unit));
        left: negative(halve($base-spacing-unit));
        margin-top: quarter($base-spacing-unit);
        border-bottom: 1px solid color(gray-light);
        width: auto;
    }
}

// 1. Fallback value for browsers that don't support `max-vh` units
.ProductSearchResults__Content {
    @include scrollable;
    max-height: 28em; // [1]
    max-height: 60vh;
}

.ProductSearchResults__Title {
    padding: halve($base-spacing-unit) halve($base-spacing-unit) quarter($base-spacing-unit) halve($base-spacing-unit);
    font-size: font-size(base);
}

.ProductSearchResults__Term {
    background: transparent;
    color: color(blue);
    font-weight: 700;
}

.ProductSearchResults__Footer {
    padding: halve($base-spacing-unit);
    text-align: center;
}

.ProductSearchResults__FooterAction {
    font-size: font-size(h3);
}

.ProductSearchResults__Backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: color(black);
    background-color: rgba(color(black), 0.35);
    cursor: pointer;
}

.ProductSearchResults__Backdrop--IsOpen {
    display: block;
    z-index: z(search-backdrop);
}
