.ProductSearch {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0.68em;
    left: 0;
    z-index: z(productsearch);
    transition: all $base-animation-duration $base-animation-function;

    @include breakpoint(medium, 'max-width') {
        padding-left: 7.5em;
    }

    @include breakpoint(medium) {
        top: 12px;
        right: auto;
        bottom: auto;
        left: 19.6em;
        width: 26.5em;
        box-shadow: $shadow-panel;
    }

    @include breakpoint(large) {
        width: 37em;
    }

    // We must state these separately to override the medium-up styling.
    &.ProductSearch--IsOpen {
        left: 0;
        width: 100%;
    }
}

// 1. Only put higher z-index when open, otherwise ProductNav and SiteNav
//    will appear below the search
.ProductSearch--IsOpen {
    z-index: z(search-form); // [1]
    padding-left: 0;
}

.ProductSearch__Form {
    position: relative;
    background-color: color(white);

    .ProductSearch--IsOpen & {
        z-index: z(search-form); // [1]
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
}

// 1. Let the item take up as much space as possible
// 2. Reset mobile styles
.ProductSearchResults {
    display: none;
    flex: 1 0 auto; // [1]
    border-top: 1px solid color(gray-light);
    padding-right: halve($base-spacing-unit);
    padding-left: halve($base-spacing-unit);
    background-color: color(white);

    @include breakpoint(medium) {
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        border: solid color(gray-light);
        border-width: 0 1px 1px 1px;
        border-bottom-right-radius: radius(small);
        border-bottom-left-radius: radius(small);
        padding-right: 0; // [2]
        padding-left: 0; // [2]
        box-shadow: $shadow-drop;
    }
}

.ProductSearchResults--IsOpen {
    display: block;
    z-index: z(search-results);

    @include breakpoint(medium, 'max-width') {
        position: absolute;
        top: 100%;
        right: negative(halve($base-spacing-unit));
        left: negative(halve($base-spacing-unit));
        margin-top: quarter($base-spacing-unit);
        border-bottom: 1px solid color(gray-light);
        width: auto;
    }
}

.ProductSearchResultsList__Item {
    display: block;
    border-top: 1px solid color(white);
    border-bottom: 1px solid color(white);
    border-left: 3px solid color(white);

    &:hover,
    &:active {
        outline: none;
        border-top: 1px solid color(gray-light);
        border-bottom: 1px solid color(gray-light);
        border-left: 3px solid color(blue);
    }
}

.ProductSearchResultsList__Item .Media {
    padding: 15px;
}

a.ProductSearchResultsList__Item::after {
    display: inline-block;
    background-image: url('https://printdealcdn.s3.amazonaws.com/img/sprite-printdeal-fr-responsive-e4bbc08aea.svg');
    background-size: 19em 19em;
    width: 1em;
    padding-bottom: 1em;
    background-position: 5.55556% 50%;
    content: '';
    position: absolute;
    top: 50%;
    right: 0.5em;
    margin-top: -0.5em;
    font-size: 1.5em;
    -webkit-transition: -webkit-transform 0.15s cubic-bezier(0.25, 0.75, 0.25, 0.85);
    transition: -webkit-transform 0.15s cubic-bezier(0.25, 0.75, 0.25, 0.85);
    transition: transform 0.15s cubic-bezier(0.25, 0.75, 0.25, 0.85);
    transition: transform 0.15s cubic-bezier(0.25, 0.75, 0.25, 0.85), -webkit-transform 0.15s cubic-bezier(0.25, 0.75, 0.25, 0.85); }
.no-svg a.ProductSearchResultsList__Item::after {
    background-image: url('https://printdealcdn.s3.amazonaws.com/img/sprite-printdeal-fr-responsive-2d71e3836d.png'); }
a.ProductSearchResultsList__Item:hover::after, a.ProductSearchResultsList__Item:focus::after {
    -webkit-transform: translateX(0.25em);
    transform: translateX(0.25em); }
a.ProductSearchResultsList__Item:hover, a.ProductSearchResultsList__Item:focus {
    outline: none;
    background-color: #ddeff2;
    color: inherit; }

// 1. Fallback value for browsers that don't support `max-vh` units
.ProductSearchResults__Content {
    @include scrollable;
    max-height: 28em; // [1]
    max-height: 65vh;
}

.ProductSearchResults__Wrap {
    padding: 27px 0;
}

.ProductSearchResults__Title {
    padding: halve($base-spacing-unit) halve($base-spacing-unit) quarter($base-spacing-unit) halve($base-spacing-unit);
    font-size: font-size(base);
}

.ProductSearchResults__Term {
    background: transparent;
    color: color(blue);
    font-weight: 700;
}

.ProductSearchResults__Footer {
    padding: halve($base-spacing-unit);
    text-align: center;
}

.ProductSearchResults__FooterAction {
    font-size: font-size(h3);
}

.ProductSearchResults__Backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(color(white), 0.9);
    cursor: pointer;
}

.ProductSearchResults__Backdrop--IsOpen {
    display: block;
    z-index: z(search-backdrop);
}

.ProductSearchIcon--up {
    position: relative;
    top: -2px;
}

.Form--Inline .ProductSearchBtn--Large {
    margin: 3px;
    height: 38px;

    @include breakpoint(medium) {
        margin: 5px;
        height: 40px;
    }

    .ProductSearch--IsOpen & {
        border-width: 1px 1px 3px;
        border-style: solid;
        border-color: color(orange-dark);
        background-color: color(orange);
        color: color(white);
    }
}

.ProductSearch__IconClose {
    display: none;
    position: fixed;
    top: $base-spacing-unit;
    right: $base-spacing-unit;

    .ProductSearch--IsOpen & {
        display: block;
    }
}

.Form--hCollapse .ProductSearch__TextInput {
    height: 44px;

    @include breakpoint(medium) {
        padding-left: $base-spacing-unit;
        height: 50px;
    }
}
