// 1. When inside a display:flex container => let this element become as large
//    as possible
// 2. Provide a context for the search dropdown
.ProductSearch {
    flex: 1 0 auto; // [1]
    position: relative; // [2]
    margin-top: third($base-spacing-unit);
}

// 1. Only put higher z-index when open, otherwise ProductNav and SiteNav
//    will appear below the search
.ProductSearch--IsOpen {
    z-index: z(search-form); // [1]
}

.ProductSearch__Form {
    position: relative;
    z-index: z(search-form);
}

// 1. Let the item take up as much space as possible
// 2. Drag the element to the left so it'll fit underneath the product toggler
// 3. Fallback
// 4. Reset mobile styles
.ProductSearchResults {
    display: none;
    flex: 1 0 auto; // [1]
    margin-top: third($base-spacing-unit);
    margin-right: negative(halve($base-spacing-unit));
    margin-left: calc(#{negative($product-nav-toggler-width)} + #{negative(halve($base-spacing-unit))}); // [2]
    border-top: 1px solid color(gray-light);
    padding-right: halve($base-spacing-unit);
    padding-left: halve($base-spacing-unit);
    width: 100%; // [1,3]
    width: calc(100% + #{$product-nav-toggler-width} + #{$base-spacing-unit});
    background-color: color(gray-lightest);

    @include breakpoint(medium) {
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        border: solid color(gray-light);
        border-width: 0 1px 1px 1px;
        border-bottom-right-radius: radius(small);
        border-bottom-left-radius: radius(small);
        padding-right: 0; // [4]
        padding-left: 0; // [4]
        width: 100%; // [4]
        box-shadow: $shadow-drop;
    }
}

.ProductSearchResults--IsOpen {
    display: block;
    z-index: z(search-results);
}

// 1. Fallback value for browsers that don't support `vh` units
.ProductSearchResults__Content {
    @include scrollable;
    max-height: 28em; // [1]
    max-height: 60vh;
    background-color: color(gray-lighter);
}

.ProductSearchResults__Title {
    padding: halve($base-spacing-unit) halve($base-spacing-unit) quarter($base-spacing-unit) halve($base-spacing-unit);
    font-size: font-size(base);
}

.ProductSearchResults__Term {
    background: transparent;
    color: color(blue);
    font-weight: 700;
}

.ProductSearchResults__Footer {
    padding: halve($base-spacing-unit);
    text-align: center;
}

.ProductSearchResults__FooterAction {
    font-size: font-size(h3);
}

.ProductSearchResults__Backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: color(black);
    background-color: rgba(color(black), 0.35);
    cursor: pointer;
}

.ProductSearchResults__Backdrop--IsOpen {
    @include breakpoint(medium) {
        display: block;
        z-index: z(search-backdrop);
    }
}
