// 1. Let the navigation extend beyond the height of the dropdown
// 2. Let the navigation be of unlimited height to cater for long lists
.ProductNav {
    @include breakpoint(medium) {
        bottom: -54px;
        z-index: z(below);
        margin-top: -1px;
        padding-right: 12em;
        width: 48em;
        background-repeat: no-repeat;
        background-position: right top;
        background-size: 11em auto;
    }

    @include breakpoint(productnav) {
        padding-right: 16em;
        width: 60.8em;
        background-size: 15em auto;
    }

    .no-csscolumns & {
        bottom: auto; // [2]
        width: 36em;
    }
}

// 1. Use 'auto' instead default 'balance',
//    see https://developer.mozilla.org/en-US/docs/Web/CSS/column-fill
//    and https://css-tricks.com/almanac/properties/c/column-fill/
// 2. Fallback for calc()
.ProductNav__Box {
    display: block;
    columns: 3 9em;
    column-gap: 1em;
    column-fill: auto; // [1]
    height: 90%; // [2]
    height: calc(100% - #{double($base-spacing-unit)});
}
