.ProductSearch {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0.68em;
    left: 0;
    z-index: z(productsearch);
    transition: all $base-animation-duration $base-animation-function;

    @include breakpoint(medium, 'max-width') {
        padding-left: 7.5em;
    }

    @include breakpoint(medium) {
        top: 12px;
        right: auto;
        bottom: auto;
        left: 19.6em;
        width: 26.5em;
        box-shadow: $shadow-panel;
    }

    @include breakpoint(large) {
        width: 37em;
    }

    // We must state these separately to override the medium-up styling.
    &.ProductSearch--IsOpen {
        left: 0;
        width: 100%;
    }
}

// 1. Only put higher z-index when open, otherwise ProductNav and SiteNav
//    will appear below the search
.ProductSearch--IsOpen {
    z-index: z(search-form); // [1]
    padding-left: 0;
}

.ProductSearch__Form {
    position: relative;
    background-color: color(white);

    .ProductSearch--IsOpen & {
        z-index: z(search-form); // [1]
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
}

// 1. Let the item take up as much space as possible
// 2. Reset mobile styles
.ProductSearchResults {
    display: none;
    flex: 1 0 auto; // [1]
    border-top: 1px solid color(gray-light);
    padding-right: halve($base-spacing-unit);
    padding-left: halve($base-spacing-unit);
    background-color: color(white);

    @include breakpoint(medium) {
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        border: solid color(gray-light);
        border-width: 0 1px 1px 1px;
        border-bottom-right-radius: radius(small);
        border-bottom-left-radius: radius(small);
        padding-right: 0; // [2]
        padding-left: 0; // [2]
        box-shadow: $shadow-drop;
    }
}

.ProductSearchResults--IsOpen {
    display: block;
    z-index: z(search-results);

    @include breakpoint(medium, 'max-width') {
        position: absolute;
        top: 100%;
        right: negative(halve($base-spacing-unit));
        left: negative(halve($base-spacing-unit));
        margin-top: quarter($base-spacing-unit);
        border-bottom: 1px solid color(gray-light);
        width: auto;
    }
}

.ProductSearchResultsList__Item {
    display: block;
    position: relative;
    border-top: 1px solid color(white);
    border-bottom: 1px solid color(white);
    border-left: 3px solid color(white);
    text-decoration: none;

    .Media {
        padding: 15px oneandhalve($base-spacing-unit) 15px 24px;
    }

    .ProductSearchResult--Animate--Icon {
        display: inline-block;
        opacity: 0;
        margin-top: third($base-spacing-unit);
        transition: opacity $base-animation-duration $base-animation-function;
    }

    &:hover,
    &:active {
        outline: none;
        border-top: 1px solid color(gray-light);
        border-bottom: 1px solid color(gray-light);
        border-left: 3px solid color(blue);

        .ProductSearchResult--Animate--Icon {
            opacity: 1;
        }
    }
}

// 1. Fallback value for browsers that don't support `max-vh` units
.ProductSearchResults__Content {
    @include scrollable;
    max-height: 28em; // [1]
    max-height: 65vh;
}

.ProductSearchResults__Title {
    padding: halve($base-spacing-unit) halve($base-spacing-unit) quarter($base-spacing-unit) halve($base-spacing-unit);
    font-size: font-size(base);
}

.ProductSearchResults__Term {
    background: transparent;
    color: color(blue);
    font-weight: 700;
}

.ProductSearchResults__Amount {
    font-size: font-size(base);
    font-weight: 400;
}

.ProductSearchResults__FooterAction {
    font-size: font-size(h3);
}

.ProductSearchResults__Backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(color(white), 0.9);
    cursor: pointer;
}

.ProductSearchResults__Backdrop--IsOpen {
    display: block;
    z-index: z(search-backdrop);
}

.ProductSearchIcon--up {
    position: relative;
    top: -2px;
}

.Form--Inline .ProductSearchBtn--Large {
    margin: 3px;
    height: 38px;

    @include breakpoint(medium) {
        margin: 5px;
        height: 40px;
    }

    .ProductSearch--IsOpen & {
        border-width: 1px 1px 3px;
        border-style: solid;
        border-color: color(orange-dark);
        background-color: color(orange);
        color: color(white);
    }
}

.ProductSearch__IconClose {
    display: none;
    position: fixed;
    top: $base-spacing-unit;
    right: $base-spacing-unit;

    .ProductSearch--IsOpen & {
        display: block;
    }
}

.Form--hCollapse .ProductSearch__TextInput {
    height: 44px;

    &:focus {
        color: color(gray-darkest);
    }

    @include breakpoint(medium) {
        padding-left: $base-spacing-unit;
        height: 50px;
    }
}
