@include breakpoint(medium, 'max-width') {
    .IconList > .ServiceNav__Link {
        margin-bottom: 0;
    }
}

@include breakpoint(medium) {
    .ServiceNav {
        position: absolute;
        right: 20em;
        bottom: -1px;
        margin-right: halve($base-spacing-unit);

        .SiteNav__Link {
            line-height: 4.6;
        }
    }
}
