@include breakpoint(medium, 'max-width') {
    .IconList > .ServiceNav__Link {
        margin-bottom: 0;
    }
}

@include breakpoint(medium) {
    .ServiceNav {
        position: absolute;
        right: 21.25em;
        bottom: -1px;

        .SiteNav__Link {
            line-height: 4.6;
        }
    }
}
