// Global.SiteUsps

.SiteUsps {
    border-bottom: 1px solid color(gray-light);
    padding: 0.66em 0;
    background: color(gray-lightest);
}

@include breakpoint(medium) {
    .SiteUsps__LanguageSpacer {
        padding-right: 9em;
    }
}

.SiteUsps__Item {
    font-size: font-size(small);
}
