.SiteHeader {
    position: relative;
    z-index: z(siteheader);
    margin-bottom: $base-spacing-unit;
    border-bottom: 1px solid  color(gray-light);
    background-color: color(white);

    &::before {
        content: '';
        display: block;
        height: 3px;
        background-color: color(gray-light);
        background-image: url('bg-stripe-tricolore.png');
    }

    &::after {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        bottom: 3.93em;
        left: 0;
        z-index: z(default);
        width: 100%;
        height: 1px;
        @include dashed-border;

        @include breakpoint(medium) {
            bottom: 4.54em;
        }
    }
}

.nav-wrap {
    position: relative;
    height: 8.46em;
    overflow: visible;

    @include breakpoint(medium) {
        height: 10.54em;
    }
}

.SiteLogo {
    display: inline-block;
    position: relative;
    top: 0.6em;
    height: 3em;

    @include breakpoint(medium) {
        top: 1.1em;
        height: 3.5em;
    }

    img {
        max-height: 100%;
    }
}

.HasSubNav {
    @include breakpoint(medium) {
        position: relative;

        &.CategoryNav__Item {
            position: static;
        }

        > .SiteNav__Link {
            border: 1px solid transparent;
        }

        &.IsOpen > .SiteNav__Link,
        &:hover > .SiteNav__Link {
            border-color: color(gray-light) color(gray-light) white;
        }

        &.IsOpen > .SiteSubNav,
        &:hover > .SiteSubNav,
        &:hover > .SubNav {
            display: block;
            visibility: visible;
        }
    }
}

.SubNav {
    display: none;

    @include breakpoint(medium) {
        position: absolute;
        border: 1px solid color(gray-light);
        background: color(white);
    }
}

// 1. Use visibility for using transitions between categories
// 2. Used as delay mechanism to prevent accidental cross-hovering on menu items
@include breakpoint(medium) {
    .SiteSubNav,
    .SubNav {
        display: none;
        position: absolute;
        visibility: hidden; // [1]
        transition: visibility 0.1s 0.15s; // [2]
    }

    .SiteSubNav {
        border: 1px solid color(gray-light);
        min-width: 18em;
        background: color(white);
    }

    .SubNav--Down {
        top: 100%;
        left: 0;
        z-index: z(default);
        margin-top: -1px;
    }

    .SubNav--DownRight {
        top: 100%;
        right: 0;
        z-index: z(default);
        margin-top: -1px;
    }

    .SubNav--Right {
        top: 0;
        left: 100%;
    }
}

.IsOpen--on--small {
    display: block;
}

.SubNav--Pad {
    padding: $base-spacing-unit;
}

@include breakpoint(medium) {
    .SubNav--Pad--medium--up {
        padding: $base-spacing-unit;
    }
}

.SiteNav__Item {
    display: block;
}

.SiteNav__Link {
    box-sizing: border-box;
    display: block;
    position: relative;
    z-index: z(above);
}

.HasSubNav:hover .Rotate90--ParentHover {
    transform: rotate(90deg);
}

.HasSubNav:hover .Rotate180--ParentHover {
    transform: rotate(180deg);
}

@include breakpoint(medium) {
    .SiteNav__Link--pad--medium--up {
        padding-right: $base-spacing-unit;
        padding-left: $base-spacing-unit;
    }
}
