// Base.Object.Pull

.pull-up {
    margin-top: negative($base-spacing-unit);
}

// .pull-down  { margin-bottom: negative($base-spacing-unit); }
// .pull-right { margin-right:  negative($base-spacing-unit); }
// .pull-left  { margin-left:   negative($base-spacing-unit); }
