$space: $base-spacing-unit;
$base-width: 40em;

.Blog {
    background: color(white);
}

.BlogPost {
    margin-right: halve($space);
    margin-left: halve($space);

    @include breakpoint(small) {
        margin-right: $space;
        margin-left: $space;
    }

    @include breakpoint(blog) {
        margin-right: auto;
        margin-left: auto;
        max-width: $base-width;
    }
}

.BlogPost__Title,
.BlogPost__Content h1 { font-size: 2.6em; }
.BlogPost__Content h2 { font-size: 1.66em; }
.BlogPost__Content h3 { font-size: 1.33em; }
.BlogPost__Content h4 { font-size: 1.16em; }

.BlogPost__Title {
    margin-bottom: double($space);
}

// 1. A slightly larger font-size to make text a little more readable
.BlogPost__Content {
    font-size: 1.1em; // [1]

    h2,
    h3,
    h4 {
        margin-bottom: $space;
    }

    p {
        margin-bottom: double($space);
        line-height: 1.5;
    }

    p:first-of-type {
        font-size: 1.33em;
    }

    img,
    iframe {
        display: block;
        margin: $space auto;

        @include breakpoint(blog) {
            $img-pull-width: 3em;
            // Pull images out of the 'frame' by making them wider than the content
            // and pulling it to the left+right with negative margins
            margin: $base-spacing-unit negative($img-pull-width);
            max-width: #{$base-width + $img-pull-width + $img-pull-width};
        }
    }
}
