$space: $base-spacing-unit;

.BlogPost__Title,
.BlogPost__Content h1 { font-size: 2.6em; }
.BlogPost__Content h2 { font-size: 1.66em; }
.BlogPost__Content h3 { font-size: 1.33em; }
.BlogPost__Content h4 { font-size: 1.16em; }

.BlogPost__Title {
    margin-bottom: double($space);
}

// 1. A slightly larger font-size and line-height to make text a little more
//    readable
// 2. Reset max-width (default is 100% to prevent overflows)
.BlogPost__Content {
    line-height: 1.6; // [1]
    font-size: 1.16em; // [1]

    h2,
    h3,
    h4,
    ol,
    ul,
    blockquote {
        margin-bottom: $space;
    }

    ol,
    ul,
    p {
        margin-bottom: double($space);
        line-height: 1.5;
    }

    p:first-of-type {
        font-size: 1.33em;
    }

    ol,
    ul {
        margin-left: $base-spacing-unit;
    }

    ol { list-style-type: decimal; }
    ul { list-style-type: circle; }

    img,
    iframe {
        display: block;
        margin: $space auto;

        @include breakpoint(medium) {
            $img-pull-width: 10%;
            // Pull images out of the 'frame' by making them wider than the content
            // and pulling it to the left+right with negative margins
            margin: $space negative($img-pull-width);
            width: #{100% + $img-pull-width + $img-pull-width};
            max-width: none; // [2]
        }
    }
}
