// The styling in this file is specifically for the OptinMonster popup (= sign up for the newsletter).
// Should OptinMonster ever be removed, this entire stylesheet can also be removed.

// stylelint-disable declaration-no-important
div[id^='om-'] { // stylelint-disable selector-no-qualifying-type
    span {
        line-height: 1.3846 !important;
        font-family: 'Noto Sans', 'Arial', 'Helvetica', sans-serif !important;
    }

    input[type='text'],
    input[type='email'] {
        border-color: color(gray-lighter) !important;
        padding: 0.45em 0.5em !important;
        font-family: 'Noto Sans', 'Arial', 'Helvetica', sans-serif !important;
        font-size: 13px !important;
    }

    .Campaign__content {
        padding: 0 !important;
    }

    .Row {
        padding: 9px 48px 9px 18px !important;
    }

    .Row + .Row {
        border-top: 1px solid color(gray-lighter) !important;
        padding-right: 18px !important;
        padding-bottom: 18px !important;
    }

    .FieldsElement--privacyText {
        margin: 18px 0 18px !important;
        color: color(gray-dark) !important;
        font-size: 12px !important;
    }

    .omaha-TextElement--wrapper {
        padding: 0 !important;
    }

    .Element__content {
        min-height: 1px !important;
    }

    .omaha-TextElement--content {
        color: color(black) !important;
        font-family: 'Noto Sans', 'Arial', 'Helvetica', sans-serif !important;
        font-size: 16px !important;
        font-weight: 700 !important;
    }

    // stylelint-disable selector-max-compound-selectors
    // stylelint-disable  selector-max-specificity
    .Row + .Row .omaha-TextElement--content {
        color: color(gray-darker) !important;
        font-size: 13px !important;
        font-weight: 400 !important;
    }

    .omaha-ImageElement--wrapper {
        display: none !important;

        @media (min-width: 720px) {
            display: block !important;
            padding: 0 18px 0 0 !important;
            text-align: center !important;
        }
    }

    .omaha-ImageElement--content img {
        width: auto !important;
    }

    .omaha-CloseButton {
        top: 1px !important;
        right: 1px !important;
        border-radius: 0 !important;
        padding: 9px !important;
        background-color: color(gray-lightest);
        fill: #585858 !important;

        &:hover,
        &:focus {
            background-color: color(gray-lighter);
        }
    }

    .omaha-FieldsElement--wrapper {
        padding: 0 !important;
    }

    .omaha-field-submit {
        display: inline-block !important;
        margin: 0 !important;
        border-bottom-width: 3px !important;
        padding: 0.5em 0.66em !important;
        width: auto !important;
        background-color: color(orange) !important;
        font-size: 14px !important;
    }

    .omaha-field-submit:hover,
    .omaha-field-submit:focus {
        border-bottom-width: 3px !important;
        background-color: color(orange-shade) !important;
    }

    ul {
        margin: $base-spacing-unit 0 !important;
        list-style: none !important;
    }

    li {
        margin-bottom: 0.3em;
    }

    li::before {
        content: '';
        position: relative;
        top: 2px;
        margin-right: 6px;
        @include sprite;
        @include icon('Check--Green');
    }
}
