// stylelint-disable declaration-no-important
.display-block {
    display: block !important;
}

.display-inline {
    display: inline !important;
}

.display-inline-block {
    display: inline-block !important;
}

.display-table {
    display: table !important;
}
